html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
dl,
dt,
dd,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



.header {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background: linear-gradient(to top, #AED265 0%, #10B1C7 100%);
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.title {
    font-size: 26px;
    color: #fff;
    font-family: "Alef";
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-left: 150px;
}

nav {
    display: flex;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.box {
    margin-right: 150px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    align-items: center;
    font-size: 18px;
}

.mypage {
    margin-right: 50px;
}

/* 600px以上のデバイスの場合の幅 */
@media screen and (max-width: 600px) {
    .header {
        width: 600px;
        margin: 0 auto;
    }

    .title {
        margin-left: 20px;
    }
}


/* 375px以上のデバイスの場合の幅 */
@media screen and (max-width: 375px) {
    .header {
        width: 375px;
        padding: 0px;
    }

    .title {
        padding: 10px;
        margin-left: 0px;
    }

    .box {
        margin-right: 0px;
        align-items: center;
        font-size: 18px;
    }

    .mypage {
        margin-right: 0px;
    }


}